 *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #eeefed;
}

/***********************
quiz.html
***************************/
.quiz-wrapper{
    height: auto;
    width: 60%;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding:25px;
	border:1px solid black;
}

.quiz-wrapper .question{
    min-height: 50px;
    background-color: #de5728;
    border-radius: 8px;
    color: black;
    padding: 15px;
    float: left;
    width: 100%;
    font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

.quiz-wrapper .options{
    float: left;
    width: 100%;
}

.quiz-wrapper .options ul{
    list-style: none;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-wrapper .options ul li{
    display: inline-block;
    background-color: rgb(201, 194, 189);
    width: 46%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin: 10px;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.quiz-wrapper .options ul li.correct{
    background-color: green;
    box-shadow: 0px 3px 0px grey;
}

.quiz-wrapper .options ul li.wrong{
    background-color: red;
    box-shadow: 0px 3px 0px grey;
}

.quiz-wrapper .options ul li:active{
    box-shadow: 0px 0px 0px  rgb(84, 110, 179);
}

.quiz-wrapper .score {
    float: left;
    width: 100%;
	text-align: center;
}

.quiz-wrapper .score .next{
	width: 100%;
    float: left;
	margin-top: 20px;
}

.quiz-wrapper .score .next button{
	padding: 10px 70px;
    color: white;
    background-color:#0c581d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
}

.quiz-wrapper .score .next button:hover{
	background-color:#457a5c;
}

.againBtn{
	padding: 10px 70px;
    color: white;
    background-color:#0c581d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
	margin: 0 auto;
}

.againBtn:hover{
	background-color:#457a5c;
}

.quiz-wrapper .score .score-card{
	max-width: 36%;
    line-height: 40px;
    font-size: 20px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	margin: 0 auto;
	background-color: #eeefed;
}

.quiz-wrapper .score .score-card span{
    background-color: rgb(12, 88, 29);
    padding: 5px 20px;
    border: none;
    color:white;
    border-radius: 8px;
}